In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('C_DATA/buybuybuybuybuy.csv')
df

      Unnamed: 0         Cash   Bitcoin      Gold        Total
0              0  1000.000000  0.000000  0.000000  1000.000000
1              1   997.324569  0.001923  0.001107   999.923809
2              2   994.682830  0.003853  0.002185   999.848421
3              3   998.753598  0.001782  0.000000   999.816807
4              4   999.819531  0.000000  0.000000   999.819531
...          ...          ...       ...       ...          ...
1741        1741  1188.052787  0.081635  0.011656  4254.048591
1742        1742  1252.938737  0.079782  0.011656  4066.985338
1743        1743  1327.218556  0.077763  0.009395  4050.928807
1744        1744  1389.671552  0.076087  0.007113  4056.124619
1745        1745  1463.259221  0.073848  0.004827  3765.004176

[1746 rows x 5 columns]

In [7]:
df1 = pd.read_csv('C_DATA\Bitcoin Price(1).csv')
df2 = pd.read_csv('C_DATA\Gold Price(1).csv')
bit_price = df1['Price'].values[78:-2]
gld_price = df2['Price'].values[78:-2]
print(len(bit))
cash = df['Cash'].values
bitcoin = df['Bitcoin'].values
gold = df['Gold'].values
total = df['Total'].values

1746

Odd ratio: The ratio of profitable trades (net of transaction costs) to total trades

In [9]:
diff = np.diff(total,1)
win = np.sum(diff > 0)/len(diff)
win

0.5169054441260745